body {
  padding: 10px;
  font-family: Monaco, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  max-width: 200px;
  margin: 5px;
  padding: 5px;
  background-color: steelblue;
  border-radius: 5px;
  color: #fff;
}

p {
  margin: 0;
}

.filter-form {
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: rebeccapurple;
  color: #fff;
}

.filter-form > div {
  margin: 5px;
}